In [30]:
import pandas as pd
import numpy as np
import time

import matplotlib.pyplot as plt
% matplotlib inline

# Preprocessing of data

In [3]:
data_train = pd.read_csv("train.csv")
data_test = pd.read_csv("test.csv")

In [4]:
data_train.head(5)

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [5]:
data_train.shape

(137, 43)

In [6]:
data_test.head(5)

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,2.0,3.0,0,4,0,0,0,0,0,0
4,4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,5.0,3.0,0,0,0,0,0,0,0,0

In [7]:
data_test.shape

(100000, 42)

In [14]:
data_train['Day'] = data_train['Open Date'].apply(lambda x: int(x[:2]))
data_train['Month'] = data_train['Open Date'].apply(lambda x: int(x[3:5]))
data_train['Year'] = data_train['Open Date'].apply(lambda x: int(x[6:]))

del data_train['Open Date']

In [15]:
data_train.head(5)

,Id,City,City Group,Type,P1,P2,P3,P4,P5,P6,...,P32,P33,P34,P35,P36,P37,revenue,Day,Month,Year
0,0,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,...,4,5,5,4,3,4,5653753.0,7,17,1999
1,1,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,...,0,0,0,0,0,0,6923131.0,2,14,2008
2,2,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,...,0,0,0,0,0,0,2055379.0,3,9,2013
3,3,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,...,10,6,18,12,12,6,2675511.0,2,2,2012
4,4,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,...,3,2,3,4,3,3,4316715.0,5,9,2009

In [16]:
y_train = data_train['revenue'].copy()

X_train = data_train.copy()
del X_train['revenue']

In [17]:
X_train.head()

,Id,City,City Group,Type,P1,P2,P3,P4,P5,P6,...,P31,P32,P33,P34,P35,P36,P37,Day,Month,Year
0,0,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,...,3,4,5,5,4,3,4,7,17,1999
1,1,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,...,0,0,0,0,0,0,0,2,14,2008
2,2,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,...,0,0,0,0,0,0,0,3,9,2013
3,3,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,...,12,10,6,18,12,12,6,2,2,2012
4,4,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,...,1,3,2,3,4,3,3,5,9,2009

In [19]:
y_train.head(5)

0    5653753.0
1    6923131.0
2    2055379.0
3    2675511.0
4    4316715.0
Name: revenue, dtype: float64

In [22]:
data_test['Day'] = data_test['Open Date'].apply(lambda x: int(x[:2]))
data_test['Month'] = data_test['Open Date'].apply(lambda x: int(x[3:5]))
data_test['Year'] = data_test['Open Date'].apply(lambda x: int(x[6:]))

del data_test['Open Date']

In [23]:
data_test.head()

,Id,City,City Group,Type,P1,P2,P3,P4,P5,P6,...,P31,P32,P33,P34,P35,P36,P37,Day,Month,Year
0,0,Niğde,Other,FC,1,4.0,4.0,4.0,1,2,...,0,0,0,0,0,0,0,1,22,2011
1,1,Konya,Other,IL,3,4.0,4.0,4.0,2,2,...,0,0,0,0,0,0,0,3,18,2011
2,2,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,2,...,0,0,0,0,0,0,0,10,30,2013
3,3,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,3,...,4,0,0,0,0,0,0,5,6,2013
4,4,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,2,...,0,0,0,0,0,0,0,7,31,2013

In [25]:
X_test = data_test.copy()

In [45]:
del X_train['City']
del X_test['City']

del X_train['City Group']
del X_test['City Group']

X_train["TypeInt"] = X_train.Type.map({'FC': 0, 'IL': 1, 'DT': 2, 'MB': 3})
X_test["TypeInt"] = X_test.Type.map({'FC': 0, 'IL': 1, 'DT': 2, 'MB': 3})

del X_train["Type"]
del X_test["Type"]

# TPOT

In [26]:
from tpot import TPOTRegressor

In [28]:
model = TPOTRegressor(generations=10, population_size=30, 
                      offspring_size=10, cv = 5, 
                      n_jobs = 1, scoring = 'neg_mean_squared_error',
                      verbosity = 4)

29 operators have been imported by TPOT.

In [46]:
start_time = time.time()
model.fit(X_train, y_train)
print('Training time: ', time.time() - start_time)

Optimization Progress:  38%|███▊      | 50/130 [00:15<00:33,  2.42pipeline/s]

_pre_test decorator: _random_mutation_operator: num_test=0 __init__() got an unexpected keyword argument 'max_depth'
_pre_test decorator: _random_mutation_operator: num_test=0 __init__() got an unexpected keyword argument 'max_depth'

Optimization Progress:  55%|█████▍    | 71/130 [00:28<00:47,  1.23pipeline/s]

Pipeline encountered that has previously been evaluated during the optimization process. Using the score from the previous evaluation.

Optimization Progress:  85%|████████▍ | 110/130 [01:00<00:20,  1.04s/pipeline]

_pre_test decorator: _random_mutation_operator: num_test=0 Unsupported set of arguments: The combination of penalty='l2' and loss='epsilon_insensitive' are not supported when dual=False, Parameters: penalty='l2', loss='epsilon_insensitive', dual=False

Training time:  78.25010085105896

In [47]:
predictions = model.predict(X_test)

In [48]:
predictions

array([5156722.32216669, 4652795.52006888, 3438344.74925425, ...,
       4666090.32193781, 3894997.94631687, 4636119.8256163 ])

In [50]:
output = pd.DataFrame({'Id': data_test['Id'], 'Prediction': predictions})
output.to_csv('tpot_1.csv', index = False)